USE [master]
GO
/****** Object:  Database [School]    Script Date: 25.9.2015 г. 14:22:07 ч. ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 25.9.2015 г. 14:22:07 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[id] [int] NULL,
	[Name] [text] NULL,
	[MaxStudent] [int] NULL,
	[TypeId] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 25.9.2015 г. 14:22:07 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NOT NULL,
	[Name] [text] NULL,
	[PhoneNumber] [int] NULL,
	[ClassId] [nchar](10) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([id], [Name], [MaxStudent], [TypeId]) VALUES (1, N'
physicists', 23, N'2         ')
INSERT [dbo].[Classes] ([id], [Name], [MaxStudent], [TypeId]) VALUES (2, N'Mat', 33, N'1         ')
INSERT [dbo].[Students] ([Id], [Name], [PhoneNumber], [ClassId]) VALUES (1, N'Ivan', 2586445, N'2         ')
INSERT [dbo].[Students] ([Id], [Name], [PhoneNumber], [ClassId]) VALUES (2, N'Dragan', 245445, N'1         ')
INSERT [dbo].[Students] ([Id], [Name], [PhoneNumber], [ClassId]) VALUES (3, N'Nikolai', 411536, N'1         ')
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Students] FOREIGN KEY([id])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Students]
GO
USE [master]
GO
